.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(243, 194, 142);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(243, 194, 142);
  color: white;
}

.h1-contact {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

header .header-nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

header .header-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .header-nav ul a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border-bottom: 1px solid #e5e5e5;
  color: #666666;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 16px 16px;
  text-decoration: none;
  padding-top: 25px;
}

menu, article, aside, details, footer, header, nav, section {
  display: block;
}

form {
  padding-top: 30px;
}

.shop-policies {
  padding-bottom: 20vh;
}

.div-products {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

header .brand {
  font-size: 20px;
  margin: 60px auto;
  text-transform: uppercase;
}

.store-logo {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 100%;
  max-height: 400px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  opacity: 1;
  transition: 0.4s;
  backface-visibility: hidden;
}


.a-product-item {
  display: inline-block;
  font-size: 0;
  padding-bottom: 40px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 33.33%;
}

.div-products-container {
  position: relative;
}

.product-name {
  transition: 0.4s;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-price {
  transition: 0.4s;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.div-products-container:hover .image {
  opacity: 0.4;
  filter: brightness(40%);
}

.div-products.container:hover .product-name {
  opacity: 1;
}

.div-products-container:hover .product-name {
  opacity: 1;
}

.div-products-container:hover .product-name {
  opacity: 1;
}

.div-products-container:hover .product-name {
  opacity: 1;
}

.div-products-container:hover .product-name {
  opacity: 1;
}

.div-products-container:hover .product-price {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  position: relative;
  text-align: center;
}

